.List{
    padding: 0;
    margin: 0;
}

.List li{
    list-style: none;
}

.FilterBar{
    background-color: blueviolet;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.FilterBar label{
    margin-right: 5px;
}

