.Type{
<<<<<<< HEAD
   
    padding:5px;
    font-size: 10px;
    width: 50px;
=======
    background-color: black;
    color: white;
    padding:5px;
    font-size: 10px;
    width: 50px;
    font-weight: 900;
>>>>>>> 7c53c4a4421f5156d9203644b696454d336ce276
    text-align: center;
    border-radius: 5px;
    display: block;
}

.TypeContainer{
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.DateContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Amount{
    font-weight: 900;
    font-size: 30px;
    color: rgb(59, 59, 59);
}

.Description {
    height: 0;
    padding: 0;
    overflow: hidden;
}

.Description p {
    padding: 0;
    margin: 0;
}
.Active{
    height: max-content;
    padding: 10px;
}

.Header{
    overflow: hidden;
    position: relative;
<<<<<<< HEAD
    background-color: rgba(15, 76, 113, 0.78);
=======
    background-color: rgb(84, 97, 131);
>>>>>>> 7c53c4a4421f5156d9203644b696454d336ce276
    display: flex;
    align-items: center;
}

.Container div{
    box-sizing: border-box;
    margin: 0 ; 
    margin-bottom: 2px;
    width: 100%;
<<<<<<< HEAD
}

.ActionDelete i,.EditAction i{
    color: white;
    padding:5px;
    border-radius: 3px;
}

.ActionDelete i:hover{
    color: var(--accent);
    background-color: rgba(255, 255, 255, 0.301);
}

.EditAction i:hover{
    color: var(--blueish);
    background-color: rgba(255, 255, 255, 0.301);
=======
>>>>>>> 7c53c4a4421f5156d9203644b696454d336ce276
}